<template>
<div>
  <h1>kIcon component example (vue):</h1><br />
    <p>
        This standart button element has k-icon component in it:
        <button>
            <k-icon glyph="search" class="green"></k-icon>
        </button>
    </p>
    <p>
        This k-icon is separate and has inline css:
        <k-icon glyph="info-circle" style="fill: blue; width: 24px; height: 24px;"></k-icon>
    </p>
</div>
</template>

<script>
import kIcon from "../component/kIcon.vue"

export default {
  components: {
    kIcon
  },
  data () {
    return {
    }
  },
}
</script>

<style>
.kIcon.green {
  fill: green
}
</style>
