<template>
<svg class="kIcon">
  <use :xlink:href="href" />
</svg>
</template>

<script>

// load all svgs from ../icons folder as modules
var files = require.context('../icons/', false, /\.svg$/)
files.keys().forEach(files)

export default {
  name: "kIcon",
  props: {
    glyph: {
      type: String,
      required: true
    },
  },
  data () {
    return {
    }
  },
  computed: {
    href() {
      return "#" + this.glyph
    }
  },
}
</script>

<style lang="sass" src="./kIcon.sass"></style>
